<%layout("layouts/boilerplate")%>

    <div class="row">
        <h1 class="text-center">NEW CAMPGROUND</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="post">
                <div>
                    <div class="mb-3">
                        <label for="title" class="form-label"> title</label>
                        <input type="text" id="title" class="form-control" name="campground[title]">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">location</label>
                        <input type="text" id="location" class="form-control" name="campground[location]">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">$</span>
                        <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
        
                      </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">image</label>
                        <input type="text" id="location" class="form-control" name="campground[image]">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="location">description</label>
                        <textarea class = "form-control" name="campground[description]" id="location" cols="30" rows="2"></textarea>
                    </div>


                    <button class="btn btn-success">submit</button>
                </div>

            </form>
            <a href="/campgrounds">all campground</a>
        </div>

    </div>